

.hidden
{
    display : none !important;
}

.appears
{
	 -webkit-animation: appears 0.5s  forwards;
       animation: appears 0.5s  forwards;
}

@-webkit-keyframes "appears" {
    0% { -webkit-transform: scale(0); }
    100% { -webkit-transform: scale(1); }
}
@keyframes "appears" {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}

.frow {
	display: flex;
    justify-content: space-between;
}


#row2 {
    justify-content: center;
}

#trow3 {
    margin-top: 10px;
}

#endPanel,
.centraltable {
	display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.centraltable,
.tasks {
  	border-radius: 5px;
  	width: 400px;
  	border: 1px solid;
  	margin: 5px;
  	margin-right: 0px;
}


.playertable {
    text-align: center;
    width: 400px;
    height: 160px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  	border-radius: 5px;
  	border: 1px solid;
}

.playertablename {
    font-weight: bold;
    margin-top: 2px;
    height: 18px;
}

.playertablecards
{
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.playertablecards
{
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.yesnoend {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.playertablecards .taskontable
{
	margin : 2px;
}


/** cards **/

.card_com {
	position:relative;
    width: 84px;
    height: 132px;
}

.playertablecard {
    width: 84px;
    height: 132px;

    border-style: dashed;
    border-width: 1px;
    border-radius: 5px;
}




.card_com.selectable .cardontable
{
	pointer-events: none;

}

.radio {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url('img/sprites.png');
	background-size: 1100%;
	background-position: 0% 100%;
	left: 23px;
	filter: drop-shadow(1px 1px 2px #000);
	-webkit-filter: drop-shadow(1px 1px 2px #000);
	z-index: 3;
}




#myhand_wrap {
	margin: 0px;
	margin-top: 3px;
	padding: 5px;
  	border-radius: 5px;
}


.bubble_custom {
    position: relative;
	left: 25px;
	z-index: 1000;
}



.commander_in_panel {
    width: 40px;
    height: 32px;
    display: inline-block;
    margin-left: 15px;
    background-image: url('img/captain.png');
	background-size: contain;
	background-repeat: no-repeat;
	filter: drop-shadow(1px 1px 2px #000);
	-webkit-filter: drop-shadow(1px 1px 2px #000);
}

.panel_container {
	display: flex;
    height: 35px;
    align-items: center;
}

.tricks {
	display: flex;
    height: 35px;
    align-items: center;

}






.radio_temp {
	opacity: 0.8;
}

.success {
	color:green;
}

.failure {
	color:red;
}

.selectablecomm,
.selectable {
  box-shadow: 0px 0px 20px 3px #4782ff !important;
  z-index:1;
  cursor: pointer !important;
  display : block !important;
}

#distress.selectable ,
.radio.selectable {
	box-shadow: none !important;
	filter: drop-shadow(0px 0px 10px #4782ff) !important;
	-webkit-filter: drop-shadow(0px 0px 10px #4782ff) !important;
}

.selected {

/*	filter: drop-shadow(0px 0px 10px #4782ff) !important;
	-webkit-filter: drop-shadow(0px 0px 10px #4782ff) !important;*/

  box-shadow: 0px 0px 20px 3px #ff0000 !important;
  z-index:1;
  cursor: pointer !important;
  display : block !important;
}

.commpending {

/*	filter: drop-shadow(0px 0px 10px #4782ff) !important;
	-webkit-filter: drop-shadow(0px 0px 10px #4782ff) !important;*/

  box-shadow: 0px 0px 20px 3px #00ff00 !important;
  z-index:1;
  cursor: pointer !important;
  display : block !important;
}


.selectablecomm:hover,
.selectable:hover{
   transform : scale(1.2);
   transition: transform 0.2s;
  z-index:2;
}

/*
.whiteblock {
	background-image: none;
	border : 0;
}*/
