@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * The Crew implementation : © Nicolas Gocel <nicolas.gocel@gmail.com> & Timothée Pecatte <tim.pecatte@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * thecrew.css
 *
 * The Crew stylesheet
 *
 */
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700,900,400italic,700italic,900italic|Playfair+Display:400,700,900,400italic,700italic,900italic|Rock+Salt:400);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700,900,400italic,700italic,900italic|Playfair+Display:400,700,900,400italic,700italic,900italic|Rock+Salt:400);
#logs span.logicon, .card-description span.logicon {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0px;
  background-image: url("img/sprites.png");
  background-size: 1100%; }
  #logs span.logicon.blue, .card-description span.logicon.blue {
    background-position: 30% 50%; }
  #logs span.logicon.green, .card-description span.logicon.green {
    background-position: 40% 50%; }
  #logs span.logicon.pink, .card-description span.logicon.pink {
    background-position: 50% 50%; }
  #logs span.logicon.yellow, .card-description span.logicon.yellow {
    background-position: 60% 50%; }
  #logs span.logicon.black, .card-description span.logicon.black {
    background-position: 100% 50%; }
#logs span.card-value, .card-description span.card-value {
  font-weight: bold; }
  #logs span.card-value.blue, .card-description span.card-value.blue {
    color: blue; }
  #logs span.card-value.green, .card-description span.card-value.green {
    color: green; }
  #logs span.card-value.yellow, .card-description span.card-value.yellow {
    color: #e7b734; }
  #logs span.card-value.pink, .card-description span.card-value.pink {
    color: #e97aaf; }
  #logs span.card-value.black, .card-description span.card-value.black {
    color: black; }

.card-description .tooltip-title {
  font-weight: bold; }

html, body {
  background-image: url("img/stars.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: black; }

#thecrew-table {
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-flow: column; }
  #thecrew-table > div {
    display: flex; }
    #thecrew-table > div#table-top, #thecrew-table > div#table-bottom {
      justify-content: space-between; }
    #thecrew-table > div#table-middle {
      justify-content: center;
      /*
       * Card mat
       */
      /*
       * Tasks selection
       */
      /*
       * YES/NO at the end of a mission
       */
      /*
       * Distress panel
       */ }
      #thecrew-table > div#table-middle > div {
        width: 400px;
        margin: 5px;
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.6);
        border: 1px solid black; }
      #thecrew-table > div#table-middle #mission-status {
        width: 460px;
        padding: 0px;
        border: none;
        background-color: #8B4513;
        border-radius: 0.25em;
        border: 1px solid #b98c5a; }
        #thecrew-table > div#table-middle #mission-status #try-counter-wrapper, #thecrew-table > div#table-middle #mission-status #total-try-counter-wrapper {
          font-weight: bold;
          font-size: 0.6em;
          text-transform: uppercase; }
        #thecrew-table > div#table-middle #mission-status #try-counter, #thecrew-table > div#table-middle #mission-status #total-try-counter {
          font-size: 1.3em; }
        #thecrew-table > div#table-middle #mission-status #distress {
          display: none;
          position: relative;
          width: 60px;
          height: 60px;
          margin: 30px auto 0px;
          background-image: url("img/sprites.png");
          background-size: 1100%;
          background-position: 100% 0;
          filter: drop-shadow(0 0 2px #000);
          -webkit-filter: drop-shadow(0 0 2px #000); }
          #thecrew-table > div#table-middle #mission-status #distress.activated {
            display: block; }
      #thecrew-table > div#table-middle #cards-mat {
        display: none;
        flex-flow: column;
        justify-content: space-between; }
        #thecrew-table > div#table-middle #cards-mat #card-mat-top, #thecrew-table > div#table-middle #cards-mat #card-mat-bottom {
          display: flex;
          justify-content: space-between; }
          #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder, #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder {
            position: relative;
            width: 84px;
            height: 132px;
            border-radius: 5px;
            border: 1px dashed black; }
            #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder[data-no="0"], #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder[data-no="0"] {
              order: 0; }
            #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder[data-no="1"], #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder[data-no="1"] {
              order: 1; }
            #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder[data-no="2"], #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder[data-no="2"] {
              order: 2; }
            #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder[data-no="3"], #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder[data-no="3"] {
              order: 3; }
            #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder[data-no="4"], #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder[data-no="4"] {
              order: 4; }
            #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder .card, #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder .card {
              position: relative;
              width: 100%;
              height: 100%;
              border-radius: 5px;
              filter: drop-shadow(0 0 2px #000);
              -webkit-filter: drop-shadow(0 0 2px #000);
              background-image: url("img/cards.png");
              background-size: 1100%; }
              #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder .card[data-color="1"], #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder .card[data-color="1"] {
                background-position-y: 0%; }
              #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder .card[data-color="2"], #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder .card[data-color="2"] {
                background-position-y: 33.3333333333%; }
              #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder .card[data-color="3"], #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder .card[data-color="3"] {
                background-position-y: 66.6666666667%; }
              #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder .card[data-color="4"], #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder .card[data-color="4"] {
                background-position-y: 100%; }
              #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder .card[data-value="1"], #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder .card[data-value="1"] {
                background-position-x: 0%; }
              #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder .card[data-value="2"], #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder .card[data-value="2"] {
                background-position-x: 10%; }
              #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder .card[data-value="3"], #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder .card[data-value="3"] {
                background-position-x: 20%; }
              #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder .card[data-value="4"], #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder .card[data-value="4"] {
                background-position-x: 30%; }
              #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder .card[data-value="5"], #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder .card[data-value="5"] {
                background-position-x: 40%; }
              #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder .card[data-value="6"], #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder .card[data-value="6"] {
                background-position-x: 50%; }
              #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder .card[data-value="7"], #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder .card[data-value="7"] {
                background-position-x: 60%; }
              #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder .card[data-value="8"], #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder .card[data-value="8"] {
                background-position-x: 70%; }
              #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder .card[data-value="9"], #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder .card[data-value="9"] {
                background-position-x: 80%; }
              #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder .card[data-color="5"][data-value="1"], #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder .card[data-color="5"][data-value="1"] {
                background-position-y: 0%;
                background-position-x: 90%; }
              #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder .card[data-color="5"][data-value="2"], #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder .card[data-color="5"][data-value="2"] {
                background-position-y: 33.3%;
                background-position-x: 90%; }
              #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder .card[data-color="5"][data-value="3"], #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder .card[data-color="5"][data-value="3"] {
                background-position-y: 66.6%;
                background-position-x: 90%; }
              #thecrew-table > div#table-middle #cards-mat #card-mat-top div.mat-card-holder .card[data-color="5"][data-value="4"], #thecrew-table > div#table-middle #cards-mat #card-mat-bottom div.mat-card-holder .card[data-color="5"][data-value="4"] {
                background-position-y: 100%;
                background-position-x: 90%; }
        #thecrew-table > div#table-middle #cards-mat #card-mat-bottom {
          margin-top: 10px; }
      #thecrew-table > div#table-middle #tasks {
        display: none;
        flex-flow: column; }
        #thecrew-table > div#table-middle #tasks h2 {
          width: 100%;
          font-weight: 700;
          margin-top: 2px;
          height: 18px;
          text-align: center; }
        #thecrew-table > div#table-middle #tasks #tasks-list {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;
          align-items: center;
          flex-grow: 1; }
      #thecrew-table > div#table-middle #end-panel {
        display: none;
        flex-flow: column;
        justify-content: space-between; }
        #thecrew-table > div#table-middle #end-panel #end-panel-top, #thecrew-table > div#table-middle #end-panel #end-panel-bottom {
          display: flex;
          justify-content: space-between; }
          #thecrew-table > div#table-middle #end-panel #end-panel-top .check-ok, #thecrew-table > div#table-middle #end-panel #end-panel-bottom .check-ok {
            margin: 5px;
            opacity: 0.4;
            width: 40px;
            height: 40px;
            background-image: url("img/sprites.png");
            background-size: 1100%;
            background-position: 80% 100%;
            filter: drop-shadow(0 0 2px #000);
            -webkit-filter: drop-shadow(0 0 2px #000); }
            #thecrew-table > div#table-middle #end-panel #end-panel-top .check-ok[data-no="0"], #thecrew-table > div#table-middle #end-panel #end-panel-bottom .check-ok[data-no="0"] {
              order: 0; }
            #thecrew-table > div#table-middle #end-panel #end-panel-top .check-ok[data-no="1"], #thecrew-table > div#table-middle #end-panel #end-panel-bottom .check-ok[data-no="1"] {
              order: 1; }
            #thecrew-table > div#table-middle #end-panel #end-panel-top .check-ok[data-no="2"], #thecrew-table > div#table-middle #end-panel #end-panel-bottom .check-ok[data-no="2"] {
              order: 2; }
            #thecrew-table > div#table-middle #end-panel #end-panel-top .check-ok[data-no="3"], #thecrew-table > div#table-middle #end-panel #end-panel-bottom .check-ok[data-no="3"] {
              order: 3; }
            #thecrew-table > div#table-middle #end-panel #end-panel-top .check-ok[data-no="4"], #thecrew-table > div#table-middle #end-panel #end-panel-bottom .check-ok[data-no="4"] {
              order: 4; }
            #thecrew-table > div#table-middle #end-panel #end-panel-top .check-ok.check-confirm, #thecrew-table > div#table-middle #end-panel #end-panel-bottom .check-ok.check-confirm {
              opacity: 1; }
        #thecrew-table > div#table-middle #end-panel #end-panel-middle {
          display: flex;
          flex-flow: column;
          align-items: center; }
          #thecrew-table > div#table-middle #end-panel #end-panel-middle h2 {
            font-weight: 700;
            margin-top: 2px;
            height: 18px;
            font-size: 16px; }
          #thecrew-table > div#table-middle #end-panel #end-panel-middle #end-panel-buttons {
            width: 100%;
            display: flex;
            flex-flow: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: center; }
            #thecrew-table > div#table-middle #end-panel #end-panel-middle #end-panel-buttons button {
              width: auto; }
              #thecrew-table > div#table-middle #end-panel #end-panel-middle #end-panel-buttons button.hidden {
                display: none; }
      #thecrew-table > div#table-middle #distress-panel {
        display: none;
        flex-flow: column;
        justify-content: space-between; }
        #thecrew-table > div#table-middle #distress-panel #distress-panel-top, #thecrew-table > div#table-middle #distress-panel #distress-panel-bottom {
          display: flex;
          justify-content: space-between; }
          #thecrew-table > div#table-middle #distress-panel #distress-panel-top .distress-choice, #thecrew-table > div#table-middle #distress-panel #distress-panel-bottom .distress-choice {
            margin: 5px;
            width: 40px;
            height: 40px;
            background-image: url("img/sprites.png");
            background-size: 1100%;
            filter: drop-shadow(0 0 2px #000);
            -webkit-filter: drop-shadow(0 0 2px #000); }
            #thecrew-table > div#table-middle #distress-panel #distress-panel-top .distress-choice[data-choice="0"], #thecrew-table > div#table-middle #distress-panel #distress-panel-bottom .distress-choice[data-choice="0"] {
              background-position: 0% 100%; }
            #thecrew-table > div#table-middle #distress-panel #distress-panel-top .distress-choice[data-choice="1"], #thecrew-table > div#table-middle #distress-panel #distress-panel-bottom .distress-choice[data-choice="1"] {
              background-position: 20% 100%; }
            #thecrew-table > div#table-middle #distress-panel #distress-panel-top .distress-choice[data-choice="2"], #thecrew-table > div#table-middle #distress-panel #distress-panel-bottom .distress-choice[data-choice="2"] {
              background-position: 70% 50%; }
            #thecrew-table > div#table-middle #distress-panel #distress-panel-top .distress-choice[data-choice="3"], #thecrew-table > div#table-middle #distress-panel #distress-panel-bottom .distress-choice[data-choice="3"] {
              background-position: 10% 100%;
              filter: drop-shadow(0 0 2px #FFF); }
            #thecrew-table > div#table-middle #distress-panel #distress-panel-top .distress-choice[data-no="0"], #thecrew-table > div#table-middle #distress-panel #distress-panel-bottom .distress-choice[data-no="0"] {
              order: 0; }
            #thecrew-table > div#table-middle #distress-panel #distress-panel-top .distress-choice[data-no="1"], #thecrew-table > div#table-middle #distress-panel #distress-panel-bottom .distress-choice[data-no="1"] {
              order: 1; }
            #thecrew-table > div#table-middle #distress-panel #distress-panel-top .distress-choice[data-no="2"], #thecrew-table > div#table-middle #distress-panel #distress-panel-bottom .distress-choice[data-no="2"] {
              order: 2; }
            #thecrew-table > div#table-middle #distress-panel #distress-panel-top .distress-choice[data-no="3"], #thecrew-table > div#table-middle #distress-panel #distress-panel-bottom .distress-choice[data-no="3"] {
              order: 3; }
            #thecrew-table > div#table-middle #distress-panel #distress-panel-top .distress-choice[data-no="4"], #thecrew-table > div#table-middle #distress-panel #distress-panel-bottom .distress-choice[data-no="4"] {
              order: 4; }
        #thecrew-table > div#table-middle #distress-panel #distress-panel-middle {
          display: flex;
          flex-flow: column;
          align-items: center; }
          #thecrew-table > div#table-middle #distress-panel #distress-panel-middle h2 {
            font-weight: 700;
            margin-top: 2px;
            height: 18px;
            font-size: 16px; }
          #thecrew-table > div#table-middle #distress-panel #distress-panel-middle #distress-panel-buttons {
            width: 100%;
            display: flex;
            flex-flow: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: center; }
            #thecrew-table > div#table-middle #distress-panel #distress-panel-middle #distress-panel-buttons button {
              display: block;
              width: auto;
              padding: 0;
              width: 46px;
              height: 46px;
              display: flex;
              align-items: center;
              justify-content: center; }
              #thecrew-table > div#table-middle #distress-panel #distress-panel-middle #distress-panel-buttons button#dont-use-button {
                font-size: 18px; }
              #thecrew-table > div#table-middle #distress-panel #distress-panel-middle #distress-panel-buttons button#clockwise-button div, #thecrew-table > div#table-middle #distress-panel #distress-panel-middle #distress-panel-buttons button#anticlockwise-button div {
                background-image: url("img/sprites.png");
                background-size: 1100%;
                background-position: 20% 100%;
                width: 30px;
                height: 30px; }
              #thecrew-table > div#table-middle #distress-panel #distress-panel-middle #distress-panel-buttons button#anticlockwise-button div {
                background-position: 10% 100%; }
          #thecrew-table > div#table-middle #distress-panel #distress-panel-middle #distress-panel-active {
            display: none; }
            #thecrew-table > div#table-middle #distress-panel #distress-panel-middle #distress-panel-active #distress-panel-icon {
              background-image: url("img/sprites.png");
              background-size: 1100%;
              background-position: 10% 50%;
              width: 100px;
              height: 100px; }
            #thecrew-table > div#table-middle #distress-panel #distress-panel-middle #distress-panel-active #distress-panel-direction {
              background-image: url("img/sprites.png");
              background-size: 1100%;
              background-position: 20% 100%;
              width: 60px;
              height: 60px;
              margin: 50px auto 0px; }
        #thecrew-table > div#table-middle #distress-panel[data-dir="1"] #distress-panel-top, #thecrew-table > div#table-middle #distress-panel[data-dir="1"] #distress-panel-bottom, #thecrew-table > div#table-middle #distress-panel[data-dir="3"] #distress-panel-top, #thecrew-table > div#table-middle #distress-panel[data-dir="3"] #distress-panel-bottom {
          display: none; }
        #thecrew-table > div#table-middle #distress-panel[data-dir="1"] #distress-panel-middle, #thecrew-table > div#table-middle #distress-panel[data-dir="3"] #distress-panel-middle {
          flex-grow: 1;
          justify-content: center; }
          #thecrew-table > div#table-middle #distress-panel[data-dir="1"] #distress-panel-middle h2, #thecrew-table > div#table-middle #distress-panel[data-dir="1"] #distress-panel-middle #distress-panel-buttons, #thecrew-table > div#table-middle #distress-panel[data-dir="3"] #distress-panel-middle h2, #thecrew-table > div#table-middle #distress-panel[data-dir="3"] #distress-panel-middle #distress-panel-buttons {
            display: none; }
          #thecrew-table > div#table-middle #distress-panel[data-dir="1"] #distress-panel-middle #distress-panel-active, #thecrew-table > div#table-middle #distress-panel[data-dir="3"] #distress-panel-middle #distress-panel-active {
            display: block; }
        #thecrew-table > div#table-middle #distress-panel[data-dir="3"] #distress-panel-middle #distress-panel-active #distress-panel-direction {
          background-position: 10% 100%; }
      #thecrew-table > div#table-middle[data-display='cards'] #cards-mat {
        display: flex; }
      #thecrew-table > div#table-middle[data-display='tasks'] #tasks {
        display: flex; }
      #thecrew-table > div#table-middle[data-display='end'] #end-panel {
        display: flex; }
      #thecrew-table > div#table-middle[data-display='distress'] #distress-panel {
        display: flex; }

#hand-container #hand-wrapper {
  margin: 3px 0 0;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6); }
  #hand-container #hand-wrapper #hand .stockitem {
    border-radius: 5px;
    filter: drop-shadow(0 0 2px #000);
    -webkit-filter: drop-shadow(0 0 2px #000); }
    #hand-container #hand-wrapper #hand .stockitem.unselectable {
      opacity: 0.6 !important;
      cursor: not-allowed !important; }
    #hand-container #hand-wrapper #hand .stockitem.selectable {
      cursor: pointer !important;
      box-shadow: 0 0 5px 1px #4782ff;
      transition: transform 0.2s; }
      #hand-container #hand-wrapper #hand .stockitem.selectable:hover {
        transform: scale(1.2);
        z-index: 2; }
    #hand-container #hand-wrapper #hand .stockitem.selected, #hand-container #hand-wrapper #hand .stockitem.received {
      border: 3px solid red;
      z-index: 4;
      margin-top: -3px;
      margin-left: -3px;
      filter: none;
      box-shadow: 0 0 5px 1px #f00; }
    #hand-container #hand-wrapper #hand .stockitem.received {
      border-color: green;
      box-shadow: 0 0 5px 1px #0f0; }

.panel-container, .panel-container .panel-tricks, .panel-container .panel-cards {
  display: flex;
  height: 35px;
  align-items: center; }
.panel-container .panel-tricks, .panel-container .panel-cards, .panel-container .panel-commander {
  justify-content: center;
  margin: 2px 7px; }
  .panel-container .panel-tricks div, .panel-container .panel-cards div, .panel-container .panel-commander div {
    height: 30px;
    background-size: 1100%;
    filter: drop-shadow(0 0 2px #000);
    -webkit-filter: drop-shadow(0 0 2px #000); }
  .panel-container .panel-tricks span::before, .panel-container .panel-cards span::before, .panel-container .panel-commander span::before {
    content: '×';
    margin: 0 4px; }
.panel-container .panel-tricks div {
  width: 30px;
  background-image: url("img/sprites.png");
  background-position: 90% 50%; }
.panel-container .panel-cards div {
  width: 19px;
  background-image: url("img/cards.png");
  background-position: 100% 0%; }
.panel-container .panel-cards span {
  margin-left: 4px; }
.panel-container .panel-commander {
  display: none;
  width: 40px;
  height: 32px;
  background-image: url("img/captain.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 2px #000);
  -webkit-filter: drop-shadow(0 0 2px #000); }

#overall-content[data-commander="0"] .panel-container[data-no="0"] .panel-commander {
  display: block; }

#overall-content[data-commander="1"] .panel-container[data-no="1"] .panel-commander {
  display: block; }

#overall-content[data-commander="2"] .panel-container[data-no="2"] .panel-commander {
  display: block; }

#overall-content[data-commander="3"] .panel-container[data-no="3"] .panel-commander {
  display: block; }

#overall-content[data-commander="4"] .panel-container[data-no="4"] .panel-commander {
  display: block; }

#overall-content[data-commander="5"] .panel-container[data-no="5"] .panel-commander {
  display: block; }

.player-table {
  width: 400px;
  height: 145px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.5); }
  .player-table.active {
    background-color: rgba(255, 255, 255, 0.8); }
  .player-table[data-no="0"] {
    order: 0; }
  .player-table[data-no="1"] {
    order: 1; }
  .player-table[data-no="2"] {
    order: 2; }
  .player-table[data-no="3"] {
    order: 3; }
  .player-table[data-no="4"] {
    order: 4; }
  .player-table .communication-card-holder {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-right: 1px solid grey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
    .player-table .communication-card-holder .communication-card {
      position: relative;
      width: 84px;
      height: 132px;
      background-image: url("img/cards.png");
      background-size: 1100%;
      filter: drop-shadow(0 0 2px #000);
      -webkit-filter: drop-shadow(0 0 2px #000);
      border-radius: 5px; }
      .player-table .communication-card-holder .communication-card.selectable {
        cursor: pointer;
        box-shadow: 0 0 5px 1px #4782ff;
        transition: transform 0.15s; }
        .player-table .communication-card-holder .communication-card.selectable:hover {
          animation: none;
          transform: scale(1.15); }
      .player-table .communication-card-holder .communication-card[data-color="6"] {
        background-position-y: 33.3%;
        background-position-x: 100%; }
      .player-table .communication-card-holder .communication-card[data-color="1"] {
        background-position-y: 0%; }
      .player-table .communication-card-holder .communication-card[data-color="2"] {
        background-position-y: 33.3333333333%; }
      .player-table .communication-card-holder .communication-card[data-color="3"] {
        background-position-y: 66.6666666667%; }
      .player-table .communication-card-holder .communication-card[data-color="4"] {
        background-position-y: 100%; }
      .player-table .communication-card-holder .communication-card[data-value="1"] {
        background-position-x: 0%; }
      .player-table .communication-card-holder .communication-card[data-value="2"] {
        background-position-x: 10%; }
      .player-table .communication-card-holder .communication-card[data-value="3"] {
        background-position-x: 20%; }
      .player-table .communication-card-holder .communication-card[data-value="4"] {
        background-position-x: 30%; }
      .player-table .communication-card-holder .communication-card[data-value="5"] {
        background-position-x: 40%; }
      .player-table .communication-card-holder .communication-card[data-value="6"] {
        background-position-x: 50%; }
      .player-table .communication-card-holder .communication-card[data-value="7"] {
        background-position-x: 60%; }
      .player-table .communication-card-holder .communication-card[data-value="8"] {
        background-position-x: 70%; }
      .player-table .communication-card-holder .communication-card[data-value="9"] {
        background-position-x: 80%; }
      .player-table .communication-card-holder .communication-card .radio {
        position: absolute;
        width: 40px;
        height: 40px;
        background-image: url("img/sprites.png");
        background-size: 1100%;
        background-position: 0 50%;
        left: 23px;
        z-index: 3;
        filter: drop-shadow(0 0 2px #000);
        -webkit-filter: drop-shadow(0 0 2px #000); }
      .player-table .communication-card-holder .communication-card .pending-icon {
        width: 50px;
        height: 50px;
        background: white;
        border: 1px solid black;
        border-radius: 25px;
        position: absolute;
        top: 40px;
        left: 17px;
        box-shadow: 1px 1px 3px black;
        justify-content: center;
        align-items: center;
        z-index: 5;
        display: none; }
        .player-table .communication-card-holder .communication-card .pending-icon svg {
          width: 70%;
          height: 70%; }
      .player-table .communication-card-holder .communication-card[data-pending="1"] {
        box-shadow: 0px 0px 6px 1px #00ff00 !important; }
        .player-table .communication-card-holder .communication-card[data-pending="1"] .pending-icon {
          display: flex; }
      .player-table .communication-card-holder .communication-card[data-radio="top"] .radio {
        top: -6px; }
      .player-table .communication-card-holder .communication-card[data-radio="middle"] .radio {
        top: 44px; }
      .player-table .communication-card-holder .communication-card[data-radio="bottom"] .radio {
        top: 102px; }
      .player-table .communication-card-holder .communication-card[data-radio="waiting"] .radio {
        display: none; }
      .player-table .communication-card-holder .communication-card[data-radio="used"] .radio {
        top: 44px;
        background-position: 20% 100%; }
      .player-table .communication-card-holder .communication-card[data-radio="waiting"] .communication-waiting {
        display: block; }
      .player-table .communication-card-holder .communication-card .communication-waiting {
        display: none;
        position: absolute;
        background: rgba(255, 255, 255, 0.7);
        width: 100%;
        height: 100%; }
        .player-table .communication-card-holder .communication-card .communication-waiting .wifi-symbol {
          position: absolute;
          top: 26px;
          left: 16px;
          display: inline-block;
          width: 50px;
          height: 50px;
          transform: rotate(-45deg); }
          .player-table .communication-card-holder .communication-card .communication-waiting .wifi-symbol .wifi-circle {
            box-sizing: border-box;
            display: block;
            width: 100%;
            height: 100%;
            font-size: 7.1428571429px;
            position: absolute;
            bottom: 0;
            left: 0;
            border-color: #000000;
            border-style: solid;
            border-width: 1em 1em 0 0;
            border-radius: 0 100% 0 0;
            opacity: 0;
            animation: wifianimation 2s infinite; }
            .player-table .communication-card-holder .communication-card .communication-waiting .wifi-symbol .wifi-circle.first {
              animation-delay: 600ms; }
            .player-table .communication-card-holder .communication-card .communication-waiting .wifi-symbol .wifi-circle.second {
              width: 5em;
              height: 5em;
              animation-delay: 400ms; }
            .player-table .communication-card-holder .communication-card .communication-waiting .wifi-symbol .wifi-circle.third {
              width: 3em;
              height: 3em;
              animation-delay: 200ms; }
            .player-table .communication-card-holder .communication-card .communication-waiting .wifi-symbol .wifi-circle.fourth {
              width: 0.5em;
              height: 0.5em; }
@keyframes wifianimation {
  0% {
    opacity: 0.9; }
  100% {
    opacity: 0.1; } }
  .player-table .player-table-wrapper {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-flow: column; }
    .player-table .player-table-wrapper .player-table-name {
      font-weight: 700;
      height: 18px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 5px 0px;
      border-bottom: 1px solid gray;
      border-top-right-radius: 5px; }
    .player-table .player-table-wrapper .player-table-mission {
      flex-grow: 1;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center; }
      .player-table .player-table-wrapper .player-table-mission .commander, .player-table .player-table-wrapper .player-table-mission .special, .player-table .player-table-wrapper .player-table-mission .special2 {
        display: none;
        background-size: contain;
        background-repeat: no-repeat;
        filter: drop-shadow(0 0 2px #000);
        -webkit-filter: drop-shadow(0 0 2px #000); }
      .player-table .player-table-wrapper .player-table-mission .commander {
        width: 75px;
        height: 60px;
        background-image: url("img/captain.png"); }
      .player-table .player-table-wrapper .player-table-mission .special {
        width: 75px;
        height: 87px;
        background-image: url("img/special.png"); }
      .player-table .player-table-wrapper .player-table-mission .special2 {
        width: 58px;
        height: 87px;
        background-image: url("img/special2.png"); }

#overall-content[data-commander="0"] .player-table[data-no="0"] .player-table-wrapper .commander {
  display: block; }

#overall-content[data-special="0"] .player-table[data-no="0"] .player-table-wrapper .special {
  display: block; }

#overall-content[data-special2="0"] .player-table[data-no="0"] .player-table-wrapper .special2 {
  display: block; }

#overall-content[data-commander="1"] .player-table[data-no="1"] .player-table-wrapper .commander {
  display: block; }

#overall-content[data-special="1"] .player-table[data-no="1"] .player-table-wrapper .special {
  display: block; }

#overall-content[data-special2="1"] .player-table[data-no="1"] .player-table-wrapper .special2 {
  display: block; }

#overall-content[data-commander="2"] .player-table[data-no="2"] .player-table-wrapper .commander {
  display: block; }

#overall-content[data-special="2"] .player-table[data-no="2"] .player-table-wrapper .special {
  display: block; }

#overall-content[data-special2="2"] .player-table[data-no="2"] .player-table-wrapper .special2 {
  display: block; }

#overall-content[data-commander="3"] .player-table[data-no="3"] .player-table-wrapper .commander {
  display: block; }

#overall-content[data-special="3"] .player-table[data-no="3"] .player-table-wrapper .special {
  display: block; }

#overall-content[data-special2="3"] .player-table[data-no="3"] .player-table-wrapper .special2 {
  display: block; }

#overall-content[data-commander="4"] .player-table[data-no="4"] .player-table-wrapper .commander {
  display: block; }

#overall-content[data-special="4"] .player-table[data-no="4"] .player-table-wrapper .special {
  display: block; }

#overall-content[data-special2="4"] .player-table[data-no="4"] .player-table-wrapper .special2 {
  display: block; }

#overall-content[data-commander="5"] .player-table[data-no="5"] .player-table-wrapper .commander {
  display: block; }

#overall-content[data-special="5"] .player-table[data-no="5"] .player-table-wrapper .special {
  display: block; }

#overall-content[data-special2="5"] .player-table[data-no="5"] .player-table-wrapper .special2 {
  display: block; }

.task {
  position: relative;
  width: 63px;
  height: 99px;
  background-image: url("img/tasks.png");
  background-size: 1100%;
  border-radius: 5px;
  filter: drop-shadow(0 0 2px #000);
  -webkit-filter: drop-shadow(0 0 2px #000); }
  .task[data-color="1"] {
    background-position-y: 0%; }
  .task[data-color="2"] {
    background-position-y: 33.3333333333%; }
  .task[data-color="3"] {
    background-position-y: 66.6666666667%; }
  .task[data-color="4"] {
    background-position-y: 100%; }
  .task[data-value="1"] {
    background-position-x: 0%; }
  .task[data-value="2"] {
    background-position-x: 10%; }
  .task[data-value="3"] {
    background-position-x: 20%; }
  .task[data-value="4"] {
    background-position-x: 30%; }
  .task[data-value="5"] {
    background-position-x: 40%; }
  .task[data-value="6"] {
    background-position-x: 50%; }
  .task[data-value="7"] {
    background-position-x: 60%; }
  .task[data-value="8"] {
    background-position-x: 70%; }
  .task[data-value="9"] {
    background-position-x: 80%; }
  .task.selectable {
    animation: 0.9s borderBlink infinite;
    cursor: pointer;
    box-shadow: 0 0 20px 3px #4782ff;
    transition: transform 0.2s; }
    .task.selectable:hover {
      animation: none;
      transform: scale(1.2); }
  .task .check-ok {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 10px;
    top: 44px;
    background-image: url("img/sprites.png");
    background-size: 1100%;
    background-position: 80% 50%;
    filter: drop-shadow(0 0 2px #000);
    -webkit-filter: drop-shadow(0 0 2px #000); }
  .task[data-status="ok"] .check-ok {
    display: block; }

@keyframes borderBlink {
  0% {
    border: 1px dashed white; }
  49% {
    border: 1px dashed white; }
  50% {
    border: 1px dashed black; }
  99% {
    border: 1px dashed black; }
  100% {
    border: 1px dashed white; } }
/*************************
**************************
********* MODAL  *********
**************************
*************************/
.thecrew_popin {
  width: 80%;
  position: relative; }
  .thecrew_popin .thecrew_popin_closeicon {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 82%;
    color: black !important; }
    .thecrew_popin .thecrew_popin_closeicon:hover {
      text-decoration: none;
      color: #CCC !important;
      transform: scale(1.1); }
    .thecrew_popin .thecrew_popin_closeicon i {
      margin-top: -2px; }

#popin_campaignIntro_underlay {
  background-color: black !important; }

#popin_campaignIntro {
  max-width: 850px;
  margin-top: 150px;
  --book-hmargin: 2em;
  --book-vmargin: 1.5em; }

.book {
  font: 16px/1.25 'Crimson Text', sans-serif;
  --book-hmargin: 1em;
  --book-vmargin: 0.5em;
  --book-background:#ddcec0;
  --book-cover-color:#8B4513;
  /*** OPEN BOOK ***/ }
  .book .book-container {
    float: left;
    padding: 1em;
    width: 100%; }
  .book .open-book {
    background: var(--book-background);
    box-shadow: rgba(0, 0, 0, 0.5) 0 1em 3em;
    color: #000;
    padding: var(--book-vmargin) var(--book-hmargin);
    /* Header/Footer */
    /* Chapter Title */
    /* Body Copy */ }
    .book .open-book * {
      position: relative; }
    .book .open-book header *, .book .open-book footer * {
      font: 700 1em/1.25 'Playfair Display', sans-serif;
      letter-spacing: 0.125em;
      margin: 0; }
    .book .open-book header {
      padding-bottom: var(--book-vmargin); }
    .book .open-book footer {
      padding-top: var(--book-vmargin); }
    .book .open-book header * {
      font-size: 0.75em;
      text-transform: uppercase; }
    .book .open-book footer .page-numbers {
      display: none;
      list-style: none;
      padding: 0;
      text-align: left; }
      .book .open-book footer .page-numbers > li:last-child {
        text-align: right; }
    .book .open-book .chapter-title {
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA2NCA2NCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNjQgNjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCiAgICA8Zz4NCiAgICAJPHBhdGggZD0iTTAsMzJMMzIsMGwzMiwzMkwzMiw2NEwwLDMyeiBNOCwzMmwyNCwyNGwyNC0yNEwzMiw4TDgsMzJ6IE0xNiwzMmwxNi0xNmwxNiwxNkwzMiw0OEwxNiwzMnogTTI0LDMybDgsOGw4LThsLTgtOEwyNCwzMnoiIC8+DQogICAgPC9nPg0KPC9zdmc+) bottom center no-repeat;
      background-size: 0.5em 0.5em;
      font: 700 7vw/1.25 'Playfair Display', sans-serif;
      letter-spacing: 0.125em;
      margin: 0 0 1em 0;
      padding: 1em 0;
      position: relative;
      text-align: center;
      text-transform: uppercase; }
      .book .open-book .chapter-title::before, .book .open-book .chapter-title::after {
        border: solid 0 #000;
        border-width: 0.05em 0;
        bottom: calc((0.125em / 2) * 3);
        content: '';
        height: 0.15em;
        position: absolute;
        width: calc(50% - (1em / 2)); }
      .book .open-book .chapter-title::before {
        left: 0; }
      .book .open-book .chapter-title::after {
        right: 0; }
    .book .open-book article {
      line-height: 1.5; }
      .book .open-book article p {
        text-indent: var(--book-hmargin);
        text-align: justify;
        margin-bottom: var(--book-vmargin); }
      .book .open-book article .chapter-title + p:first-of-type, .book .open-book article .thecrew_popin_contents > p:first-of-type {
        text-indent: 0; }
        .book .open-book article .chapter-title + p:first-of-type:first-letter, .book .open-book article .thecrew_popin_contents > p:first-of-type:first-letter {
          float: left;
          font: 700 3em/0.65 'Playfair Display', sans-serif;
          padding: 0.15em 0.05em 0 0;
          text-transform: uppercase; }
    @media only screen and (min-width: 50em) {
      .book .open-book {
        margin: 1em;
        position: relative;
        /* Header/Footer */
        /* Chapter Title */ }
        .book .open-book::before {
          background-color: var(--book-cover-color);
          border-radius: 0.25em;
          bottom: -1em;
          content: '';
          left: -1em;
          position: absolute;
          right: -1em;
          top: -1em;
          z-index: -1; }
        .book .open-book::after {
          background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.2) 46%, rgba(0, 0, 0, 0.5) 49%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.5) 51%, rgba(0, 0, 0, 0.2) 52%, transparent 100%);
          bottom: -1em;
          content: '';
          left: 50%;
          position: absolute;
          top: -1em;
          transform: translate(-50%, 0);
          width: calc(2*var(--book-hmargin));
          z-index: 1; }
        .book .open-book > * {
          column-count: 2;
          column-gap: 6em;
          position: relative;
          z-index: 1; }
        .book .open-book header::before,
        .book .open-book header::after,
        .book .open-book footer::before,
        .book .open-book footer::after {
          background: var(--book-background);
          content: '';
          height: 1em;
          position: absolute;
          z-index: -1;
          width: calc(50% + var(--book-hmargin)); }
        .book .open-book header::before {
          border-top-right-radius: 25%; }
        .book .open-book header::after {
          border-top-left-radius: 25%; }
        .book .open-book footer::before {
          border-bottom-right-radius: 25%; }
        .book .open-book footer::after {
          border-bottom-left-radius: 25%; }
        .book .open-book header::before, .book .open-book header::after {
          top: calc(-0.45em - var(--book-vmargin)); }
        .book .open-book header::before,
        .book .open-book footer::before {
          right: 50%; }
        .book .open-book header::before {
          transform: rotate(-2deg); }
        .book .open-book header::after, .book .open-book footer::after {
          left: 50%; }
        .book .open-book header::after {
          transform: rotate(2deg); }
        .book .open-book footer::before, .book .open-book footer::after {
          bottom: calc(-0.45em - var(--book-vmargin)); }
        .book .open-book footer::before {
          transform: rotate(2deg); }
        .book .open-book footer::after {
          transform: rotate(-2deg); }
        .book .open-book header > *:last-child,
        .book .open-book footer > *:last-child {
          text-align: right; }
        .book .open-book footer .page-numbers {
          display: block; }
        .book .open-book .chapter-title {
          font-size: 3em; }
          .book .open-book .chapter-title::before, .book .open-book .chapter-title::after {
            height: 0.125em; } }

#mission-status .open-book > * {
  column-gap: 4em; }
#mission-status .open-book header {
  padding: 0; }
#mission-status article {
  display: flex;
  column-count: 0; }
  #mission-status article > div {
    flex: 1; }
  #mission-status article #mission-description {
    text-align: justify;
    font-size: 14px;
    line-height: 1.35; }
#mission-status #mission-counter-wrapper {
  font-weight: 700;
  margin-bottom: 10px;
  padding-top: 0;
  padding-bottom: 1em;
  font-size: 1.3em;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  #mission-status #mission-counter-wrapper span#mission-title {
    margin-top: 2px; }
  #mission-status #mission-counter-wrapper span#mission-counter {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    background: black;
    width: 35px;
    height: 35px;
    color: white;
    font-weight: bold;
    font-size: 23px;
    line-height: 44px;
    font-family: 'Crimson Text';
    letter-spacing: 0px; }
#mission-status .mission-informations .mission-informations-tasks {
  background: #d44b38;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold; }
  #mission-status .mission-informations .mission-informations-tasks::before, #mission-status .mission-informations .mission-informations-tasks::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #d44b38;
    z-index: -2; }
  #mission-status .mission-informations .mission-informations-tasks::before {
    transform: rotate(30deg); }
  #mission-status .mission-informations .mission-informations-tasks::after {
    transform: rotate(60deg); }

/*# sourceMappingURL=thecrew.css.map */
