/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * The Crew implementation : © Nicolas Gocel <nicolas.gocel@gmail.com> & Timothée Pecatte <tim.pecatte@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * thecrewleocaseiro.css
 *
 * The Crew stylesheet
 *
 */

@mixin shadow {
  filter: drop-shadow(0 0 2px #000);
  -webkit-filter: drop-shadow(0 0 2px #000);
}

@font-face {
    font-family: 'Khula';
    src: url('img/fonts/Khula-ExtraBold.woff2') format('woff2'),
        url('img/fonts/Khula-ExtraBold.woff') format('woff'),
        url('img/fonts/Khula-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@import 'modules/css/logAndTooltip';
@import 'modules/css/layout';
@import 'modules/css/playerPanel';
@import 'modules/css/playerTable';
@import 'modules/css/task';
@import 'modules/css/modal';
@import 'modules/css/book';
@import 'modules/css/mission';
