@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700,900,400italic,700italic,900italic|Playfair+Display:400,700,900,400italic,700italic,900italic|Rock+Salt:400);

.book {
  font: 16px/1.25 'Crimson Text', sans-serif;
  --book-hmargin: 1em;
  --book-vmargin: 0.5em;
  --book-background:#ddcec0;
  --book-cover-color:#8B4513;

  .book-container {
    float: left;
    padding: 1em;
    width: 100%;
  }


  /*** OPEN BOOK ***/
  .open-book {
    background: var(--book-background);
    box-shadow: rgba(0,0,0,0.5) 0 1em 3em;
    color: #000;
    padding: var(--book-vmargin) var(--book-hmargin);

    * {
      position: relative;
    }

    /* Header/Footer */
    header *, footer * {
      font: 700 1em/1.25 'Playfair Display', sans-serif;
      letter-spacing: 0.125em;
      margin: 0;
    }

    header { padding-bottom: var(--book-vmargin); }
    footer { padding-top: var(--book-vmargin); }


    header * {
      font-size: 0.75em;
      text-transform: uppercase;
    }

    footer .page-numbers {
      display:none;
      list-style: none;
      padding: 0;
      text-align: left;

      & > li:last-child {
        text-align: right;
      }
    }

    /* Chapter Title */
    .chapter-title {
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA2NCA2NCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNjQgNjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCiAgICA8Zz4NCiAgICAJPHBhdGggZD0iTTAsMzJMMzIsMGwzMiwzMkwzMiw2NEwwLDMyeiBNOCwzMmwyNCwyNGwyNC0yNEwzMiw4TDgsMzJ6IE0xNiwzMmwxNi0xNmwxNiwxNkwzMiw0OEwxNiwzMnogTTI0LDMybDgsOGw4LThsLTgtOEwyNCwzMnoiIC8+DQogICAgPC9nPg0KPC9zdmc+) bottom center no-repeat;
      background-size: 0.5em 0.5em;
      font: 700 7vw/1.25 'Playfair Display', sans-serif;
      letter-spacing: 0.125em;
      margin: 0 0 1em 0;
      padding: 1em 0;
      position: relative;
      text-align: center;
      text-transform: uppercase;

      &::before, &::after {
        border: solid 0 #000;
        border-width: 0.05em 0;
        bottom: calc((0.125em / 2) * 3);
        content: '';
        height: 0.15em;
        position: absolute;
        width: calc(50% - (1em / 2));
      }
      &::before { left: 0; }
      &::after { right: 0; }
    }

    /* Body Copy */
    article {
      line-height: 1.5;

      p {
        text-indent: var(--book-hmargin);
        text-align: justify;
        margin-bottom:var(--book-vmargin);
      }

      .chapter-title + p:first-of-type, .thecrew_popin_contents > p:first-of-type {
        text-indent: 0;
        &:first-letter {
          float: left;
          font: 700 3em/0.65 'Playfair Display', sans-serif;
          padding: 0.15em 0.05em 0 0;
          text-transform: uppercase;
        }
      }
    }


@media only screen and ( min-width: 50em ) {
    margin: 1em;
    position: relative;


    &::before {
      background-color: var(--book-cover-color);
      border-radius: 0.25em;
      bottom: -1em;
      content: '';
      left: -1em;
      position: absolute;
      right: -1em;
      top: -1em;
      z-index: -1;
    }

    &::after {
      background: linear-gradient(to right, transparent 0%,rgba(0,0,0,0.2) 46%,rgba(0,0,0,0.5) 49%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.5) 51%,rgba(0,0,0,0.2) 52%,transparent 100%);
      bottom: -1em;
      content: '';
      left: 50%;
      position: absolute;
      top: -1em;
      transform: translate(-50%,0);
      width: calc(2*var(--book-hmargin));
      z-index: 1;
    }

    & > * {
      column-count: 2;
      column-gap: 6em;
      position: relative;
      z-index: 1;
    }

    /* Header/Footer */
    header::before,
    header::after,
    footer::before,
    footer::after {
      background: var(--book-background);
      content: '';
      height: 1em;
      position: absolute;
      z-index: -1;
      width: calc(50% + var(--book-hmargin));
    }

    header::before { border-top-right-radius: 25%; }
    header::after { border-top-left-radius: 25%; }
    footer::before { border-bottom-right-radius: 25%; }
    footer::after { border-bottom-left-radius: 25%; }

    header::before, header::after {
      top: calc(-0.45em - var(--book-vmargin));
    }

    header::before,
    footer::before {
      right: 50%;
    }

    header::before {
      transform: rotate(-2deg);
    }

    header::after, footer::after {
      left: 50%;
    }

    header::after {
      transform: rotate(2deg);
    }

    footer::before, footer::after {
      bottom: calc(-0.45em - var(--book-vmargin));
    }

    footer::before {
      transform: rotate(2deg);
    }

    footer::after {
      transform: rotate(-2deg);
    }

    header > *:last-child,
    footer > *:last-child {
      text-align: right;
    }

    footer .page-numbers {
      display: block;
    }

    /* Chapter Title */
    .chapter-title {
      font-size: 3em;

      &::before, &::after {
        height: 0.125em;
      }
    }
  }
}
}
