html,body {
	background-image:  url('img/stars.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
}



#thecrew-table {
//  text-align: center;
  margin-top: 10px;
  position: relative;
  display:flex;
  flex-flow:column;

  & > div {
    display:flex;

    &#table-top, &#table-bottom {
      justify-content: space-between;
    }

    // Central line with mission info & cards played
    &#table-middle {
      justify-content: center;

      & > div {
        width: 400px;
        margin: 5px;
        border-radius: 5px;
        padding:10px;
        background-color:rgba(255,255,255,0.6);
        border:1px solid black;
      }

      #mission-status {
        width:480px;
        padding: 0px;
      	border: none;
        background-color: #8B4513;
        border-radius: 0.25em;
        border: 1px solid #b98c5a;

        #try-counter-wrapper, #total-try-counter-wrapper {
          font-weight: bold;
          font-size: 0.6em;
          text-transform: uppercase;
        }

        #try-counter, #total-try-counter {
          font-size:1.3em;
        }

        #distress {
          display:none;
          position: relative;
          width: 60px;
          height: 60px;
          margin:30px auto 0px;
          background-image: url("img/sprites.png");
          background-size: 1100%;
          background-position: 100% 0;
          @include shadow;

          &.activated {
            display:block;
          }
        }
      }


      /*
       * Card mat
       */
      #cards-mat {
        display: none;
        flex-flow: column;
        justify-content: space-between;

        #card-mat-top, #card-mat-bottom {
          display:flex;
          justify-content: space-between;

          div.mat-card-holder {
            position:relative;
            width: 84px;
            height: 132px;
            border-radius: 5px;
            border: 1px dashed black;
            @for $i from 0 through 4 {
              &[data-no="#{$i}"] { order:$i; }
            }


            .card {
              position:relative;
              width: 100%;
              height: 100%;
              border-radius: 5px;
              @include shadow;
              background-image: url("img/cards.png");
              background-size: 1100%;

              @for $i from 1 through 4 {
                &[data-color="#{$i}"]{ background-position-y: ($i - 1) * 100% / 3; }
              }

              @for $i from 1 through 9 {
                &[data-value="#{$i}"]{ background-position-x: ($i - 1) * 100% / 10; }
              }

              &[data-color="5"][data-value="1"] { background-position-y: 0%; background-position-x: 90%; }
              &[data-color="5"][data-value="2"] { background-position-y: 33.3%; background-position-x: 90%; }
              &[data-color="5"][data-value="3"] { background-position-y: 66.6%;  background-position-x: 90%; }
              &[data-color="5"][data-value="4"] { background-position-y: 100%; background-position-x: 90%; }
            }
          }
        }

        #card-mat-bottom {
          margin-top: 10px;
        }
      }


      /*
       * Tasks selection
       */
      #tasks {
        display:none;
        flex-flow: column;

        h2 {
          width:100%;
          font-weight: 700;
          margin-top: 2px;
          height: 18px;
          text-align: center;
        }

        #tasks-list-container {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-grow: 1;

          #tasks-list {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: center;
            position: relative;

            .task {
              margin:7px;
            }
          }
        }
      }



      /*
       * YES/NO at the end of a mission
       */
      #end-panel, #give-task-panel {
        display:none;
        flex-flow: column;
        justify-content: space-between;

        // Checkmarks
        #end-panel-top, #end-panel-bottom,  #give-task-panel-top,  #give-task-panel-bottom {
          display:flex;
          justify-content: space-between;

          .check-ok {
            margin: 5px;
            opacity: 0.4;
            width: 40px;
            height: 40px;
            background-image: url("img/sprites.png");
            background-size: 1100%;
            background-position: 80% 50%;
            @include shadow;

            @for $i from 0 through 4 {
              &[data-no="#{$i}"] { order:$i; }
            }

            &.check-confirm {
            	opacity: 1;
            }
          }
        }

        // Central line with question
        #end-panel-middle,  #give-task-panel-middle {
          display: flex;
          flex-flow:column;
          align-items: center;

          h2 {
            font-weight: 700;
            margin-top: 2px;
            height: 18px;
            font-size:16px;
          }

          #end-panel-buttons,  #give-task-buttons {
            width: 100%;
            display: flex;
            flex-flow:row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: center;

            button {
              width:auto;
              &.hidden {
                display:none;
              }
            }
          }
        }
      }


      /*
       * Distress panel
       */
      #distress-panel {
        display:none;
        flex-flow: column;
        justify-content: space-between;

        // Checkmarks
        #distress-panel-top, #distress-panel-bottom {
          display:flex;
          justify-content: space-between;

          .distress-choice {
            margin: 5px;
            width: 40px;
            height: 40px;
            background-image: url("img/sprites.png");
            background-size: 1100%;
            @include shadow;

            &[data-choice="0"] {  background-position: 0% 100%; }
            &[data-choice="1"] {  background-position: 20% 100%; }
            &[data-choice="2"] {  background-position: 70% 50%; }
            &[data-choice="3"] {  background-position: 10% 100%; filter: drop-shadow(0 0 2px #FFF);}
            &[data-choice="4"] {  background-position: 90% 100%;}

            @for $i from 0 through 4 {
              &[data-no="#{$i}"] { order:$i; }
            }
          }
        }

        // Central line with question
        #distress-panel-middle {
          display: flex;
          flex-flow:column;
          align-items: center;

          #distress-panel-icon {
            background-image: url('img/sprites.png');
            background-size: 1100%;
            background-position: 10% 50%;
            width:80px;
            height:80px;
            margin-bottom: 20px;
          }

          h2 {
            font-weight: 700;
            margin-top: 2px;
            height: 18px;
            font-size:16px;
          }

          #distress-panel-buttons {
            width: 100%;
            display: flex;
            flex-flow:row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: center;

            button {
              display:block;
              width:auto;
              padding:0;
              width:46px;
              height:46px;
              display:flex;
              align-items: center;
              justify-content: center;

              &#dont-use-button {
                font-size:18px;
              }

              &#whatever-button {
                width:auto;
                padding:0px 5px;
              }

              &#clockwise-button div, &#anticlockwise-button div {
                background-image: url('img/sprites.png');
                background-size: 1100%;
                background-position: 20% 100%;
                width:30px;
                height:30px;
              }
              &#anticlockwise-button div {
               background-position: 10% 100%;
             }
            }
          }

          #distress-panel-direction {
            display: none;
            background-image: url('img/sprites.png');
            background-size: 1100%;
            background-position: 20% 100%;
            width:60px;
            height:60px;
            margin:50px auto 0px;
            @include shadow;
          }
        }

        &[data-dir="1"], &[data-dir="3"] {
          #distress-panel-top, #distress-panel-bottom {
            display:none;
          }

          #distress-panel-middle{
            flex-grow:1;
            justify-content: center;

            h2, #distress-panel-buttons {
              display:none;
            }

            #distress-panel-direction {
              display:block;
            }
          }
        }

        &[data-dir="3"] #distress-panel-middle #distress-panel-direction {
          background-position: 10% 100%;
          filter: drop-shadow(0 0 2px #FFF);
        }
      }



      /*
       * Give task panel
       */
      #give-task-panel {
        #give-task-panel-middle {
          #give-task-proposal {
            display:flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;

            #proposal-transaction {
              display: flex;
              align-items: center;
              font-weight: bold;

              .thecrew-arrow-down {
                transform:rotate(-90deg);
                margin:0;
                width:60px;
                height:60px;
              }
            }
          }
        }
      }


      // Focus on corresponding block
      &[data-display='cards'] #cards-mat { display: flex; }
      &[data-display='tasks'] #tasks { display: flex; }
      &[data-display='end'] #end-panel { display:flex; }
      &[data-display='distress'] #distress-panel { display:flex; }
      &[data-display='give-task'] #give-task-panel { display:flex; }
    }
  }
}


#hand-container {
  #hand-wrapper {
    margin: 3px 0 0;
    padding: 5px;
    border-radius: 5px;
    background-color:rgba(255,255,255,0.6);

    #hand {
      .stockitem {
        border-radius: 5px;
        @include shadow;

        &.unselectable {
          opacity:0.6 !important;
          cursor:not-allowed !important;
        }

        &.selectable {
          cursor:pointer !important;
          box-shadow: 0 0 5px 1px #4782ff;
          transition:transform 0.2s;

          &:hover {
            transform:scale(1.2);
            z-index:2;
          }
        }

        &.selected, &.received, &.preselected {
          border: 3px solid red;
          z-index: 4;
          margin-top: -3px;
          margin-left:-3px;
          filter: none;
          box-shadow: 0 0 5px 1px #f00;
        }
        &.received {
          border-color:green;
          box-shadow: 0 0 5px 1px #0f0;
        }
        &.preselected {
          border-color: #f700dc;
          box-shadow: 0 0 5px 1px #b51795;
        }
      }
    }
  }
}


#discard-container {
  display: none;
  &.active {
    display:block;
  }
  
  #discard-wrapper {
    margin: 3px 0 0;
    padding: 5px;
    border-radius: 5px;
    background-color:rgba(255,255,255,0.6);
    display:flex;
    justify-content: center;
    align-items: center;

    #discard-grid {
      display:grid;
      grid-template-columns: repeat(20, auto);
      grid-template-rows: 1fr 1fr;

      .discard-slot {
        width:40px;
        height:40px;
        margin:2px;
        border:1px solid black;
        border-radius: 5px;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 21px;
        opacity: 0.3;

        &.color-1 {
          background:#2268d5;
        }
        &.color-2 {
          background:#80cf24;
        }
        &.color-3 {
          background:#fb5da8;
        }
        &.color-4 {
          background:#ecbc23;
        }
        &.color-5 {
          background:black;
          color:white;
        }

        &#discard-1-9, &#discard-2-9 {
          margin-right:10px;
        }

        &.played {
          font-weight: bold;
          opacity: 1;
        }
      }
    }
  }
}
