#logs, .card-description, .chatwindowtype_tablelog {
  span {
    &.logicon {
      position: relative;
      display: inline-block;
    	width : 12px;
    	height : 12px;
      margin: 0px;
      background-image: url('img/sprites.png');
    	background-size: 1100%;

      &.blue { background-position: 30% 50%;}
      &.green { background-position: 40% 50%;}
      &.pink { background-position: 50% 50%;}
      &.yellow { background-position: 60% 50%;}
      &.black { background-position: 100% 50%;}
    }

    &.card-value {
      font-weight: bold;
      &.blue { color: blue;  }
      &.green { color: green;  }
      &.yellow { color: #e7b734;  }
      &.pink { color: #e97aaf;  }
      &.black { color: black;  }
    }
  }
}

.card-description .tooltip-title, .with-content .tooltip-title {
  font-weight: bold;
}
