/*************************
**************************
********* MODAL  *********
**************************
*************************/
.thecrew_popin {
  width:80%;
  position:relative;

  .thecrew_popin_closeicon {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 82%;
    color: black !important;

    &:hover {
      text-decoration: none;
      color:#CCC !important;
      transform:scale(1.1);
    }

    i {
      margin-top:-2px;
    }
  }
}

@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700,900,400italic,700italic,900italic|Playfair+Display:400,700,900,400italic,700italic,900italic|Rock+Salt:400);

#popin_campaignIntro_underlay {
  background-color:black !important;
}
#popin_campaignIntro {
  max-width: 850px;
  margin-top: 150px;
  --book-hmargin: 2em;
  --book-vmargin: 1.5em;
}
