.player-table {
  width: 400px;
  height: 145px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  border: 1px solid black;
  background-color:rgba(255,255,255,0.5);
  &.active {
    background-color:rgba(255,255,255,0.8);
  }

  &.selectable {
    animation:0.9s borderBlink infinite;
    cursor:pointer;
  }

  @for $i from 0 through 4 {
    &[data-no="#{$i}"] { order:$i; }
  }

  .communication-card-holder {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.9);
    border-right: 1px solid grey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    .player-reply {
      display:none;
    }

    .communication-card {
      position: relative;
      width: 84px;
      height: 132px;

      &.selectable, &.selectableToPlay {
        cursor:pointer;
        box-shadow: 0 0 5px 1px #4782ff;
        transition:transform 0.15s;

        &:hover {
          animation:none;
          transform:scale(1.15);
        }
      }

      background-image:url("img/cards.png");
      background-size:1100%;
      @include shadow;
      border-radius: 5px;
      &[data-color="6"]{ background-position-y: 33.3%; background-position-x: 100%; }

      @for $i from 1 through 4 {
        &[data-color="#{$i}"]{ background-position-y: ($i - 1) * 100% / 3; }
      }

      @for $i from 1 through 9 {
        &[data-value="#{$i}"]{ background-position-x: ($i - 1) * 100% / 10; }
      }

      .radio {
        position: absolute;
        width: 40px;
        height: 40px;
        background-image: url("img/sprites.png");
        background-size: 1100%;
        background-position: 0 50%;
        left: 23px;
        z-index: 3;
        @include shadow;
      }

      .pending-icon {
        width: 50px;
        height: 50px;
        background: white;
        border: 1px solid black;
        border-radius: 25px;
        position: absolute;
        top: 40px;
        left: 17px;
        box-shadow: 1px 1px 3px black;
        justify-content: center;
        align-items: center;
        z-index:5;
        display:none;

        svg {
          width:70%;
          height:70%;
        }
      }

      .disruption {
        display:none;
        position: absolute;
        width: 40px;
        height: 40px;
        top: 38px;
        left: 16px;
        padding: 7px;
        color: #d44b38;
        text-shadow: 0 0 2px #fff;
        font-weight: bold;
        font-family: 'Khula';
        font-size: 38px;
        line-height: 20px;
        text-align: center;
        background: white;
        border-radius: 50%;
        border: 1px solid gray;
        box-shadow: 1px 1px 3px black;
      }

      &[data-pending="1"]{
        box-shadow: 0px 0px 6px 1px #00ff00 !important;
        .pending-icon {
          display: flex;
        }
      }

      &[data-radio="top"] .radio {top: -6px;}
      &[data-radio="middle"] .radio {top: 44px;}
      &[data-radio="bottom"] .radio {top: 102px;}
      &[data-radio="waiting"] .radio { display:none; }
      &[data-radio="used"] .radio {
        top: 44px;
        background-position: 20% 50%;
      }
      &[data-radio="hidden"] .radio {
        top: 44px;
        background-position: 0% 100%;
      }

      &[data-radio="waiting"] .communication-waiting { display:block; }
      .communication-waiting {
        display: none;
        position:absolute;
        background:rgba(255,255,255,0.7);
        width:100%;
        height:100%;

        .wifi-symbol {
          $circleColor: #000000;
          $size: 50px;

          position:absolute;
          top: 26px;
          left: 16px;
          display:inline-block;
          width:$size;
          height:$size;
          transform:rotate(-45deg);

          .wifi-circle {
            box-sizing:border-box;
            display:block;
            width:100%;
            height:100%;
            font-size:$size/7;
            position:absolute;
            bottom:0;
            left:0;
            border-color: $circleColor;
            border-style:solid;
            border-width:1em 1em 0 0 ;
            border-radius:0 100% 0 0;
            opacity:0;
            animation:wifianimation 2s infinite;

            &.first {
              animation-delay:600ms;
            }
            &.second {
              width:5em;
              height:5em;
              animation-delay:400ms;
            }
            &.third {
              width: 3em;
              height: 3em;
              animation-delay:200ms;
            }
            &.fourth {
              width: 0.5em;
              height: 0.5em;
            }
          }
        }

        @keyframes wifianimation  {
          0% { opacity: 0.9; }
          100% { opacity: 0.1; }
        }
      }
    }
  }

  &[data-reply="on"] .communication-card-holder {
    background-color:rgba(255,255,255,0.2);
    .communication-card {
      display: none;
    }

    .player-reply {
      display:block;
      position:relative;
      height:92%;

      .bubble {
        position:relative;
        margin:0;
        margin-bottom: 10px;
        padding:5px 10px;
        font-size:21px;
        float:none;
        left:auto;
        right:auto;

        &::before {
          height:15px;
          bottom:-15px;
        }

        &.small {
          font-size: 15px;
        }
      }
    }
  }


  .player-table-wrapper {
    flex-grow: 1;
    height:100%;
    display: flex;
    flex-flow: column;

    .player-table-name {
      font-weight: 700;
      height: 18px;
      text-align: center;
      background-color: rgba(255,255,255,0.9);
      padding: 5px 0px;
      border-bottom: 1px solid gray;
      border-top-right-radius: 5px;
      position:relative;
    }

    .player-table-mission {
      flex-grow: 1;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;

      .commander, .special, .special2 {
        display:none;
        background-size: contain;
        background-repeat: no-repeat;
        @include shadow;
      }
      .commander {
        width:75px;
        height: 60px;
        background-image: url("img/captain.png");
      }
      .special {
        width:75px;
        height:87px;
        background-image: url("img/special.png");
      }
      .special2 {
        width:58px;
        height:87px;
        background-image: url("img/special2.png");
      }
    }
  }
}


@for $i from 1 through 5 {
  #thecrew-table[data-disruption="#{$i}"] .player-table .communication-card-holder .communication-card {
    .radio {
      display:none;
    }

    .disruption {
      display:block;
      &::after {
        content:'#{$i}';
      }
    }

    &[data-pending="1"]{
      .pending-icon {
        top:71px;
      }

      .disruption {
        top:10px;
      }
    }
  }
}

@for $i from 0 through 5 {
  #overall-content[data-commander="#{$i}"] .player-table[data-no="#{$i}"] .player-table-wrapper .commander { display:block; }
  #overall-content[data-special="#{$i}"]   .player-table[data-no="#{$i}"] .player-table-wrapper .special { display:block; }
  #overall-content[data-special2="#{$i}"]  .player-table[data-no="#{$i}"] .player-table-wrapper .special2 { display:block; }
}



@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

.bubble {
  position: absolute;
  padding: 10px 20px;
  margin: 10px 10px 0px 0px;
  border-radius: 10px;
  border: 3px solid black;
  background: white;
  top: 0;
  font-family: "Permanent Marker";
  font-size: 30px;
  color: black;

  opacity: 0;
  right: 380px;
  transition: opacity 0.5s, right 0.5s, left 0.5s;
  &.show {
    opacity: 1;
    right: 402px;
  }

   &::before {
     content: '';
     position: absolute;
     bottom: -20px;
     height: 20px;
     width: 40px;
     border-radius: 0 0 0 100%;
     right: 0;
     box-shadow:
       2px -2px 0 0 #000 inset,
       23px 0 0 0 #fff inset,
       25px -2px 0 0 #000 inset;
   }
}


//.player-table[data-no="0"] .bubble,
//.player-table[data-no="1"] .bubble,
.bubble.left {
  left: 277px;
  right:auto;
  margin: 10px 0px 0px 10px;

  &.show {
    opacity: 1;
    left: 297px;
    right:auto;
  }

  &::before {
    border-radius: 0 0 100% 0;
    box-shadow:
      -2px -2px 0 0 #000 inset,
      -23px 0 0 0 #fff inset,
      -25px -2px 0 0 #000 inset;
    left: 0;
    right:auto;
  }
}
