.task {
  position: relative;
  width: 63px;
  height: 99px;
  background-image: url("img/tasks.png");
  background-size: 1100%;
  border-radius: 5px;
  @include shadow;

  @for $i from 1 through 4 {
    &[data-color="#{$i}"]{ background-position-y: ($i - 1) * 100% / 3; }
  }

  @for $i from 1 through 9 {
    &[data-value="#{$i}"]{ background-position-x: ($i - 1) * 100% / 10; }
  }


  &.selectable {
    animation:0.9s borderBlink infinite;
    cursor:pointer;
    box-shadow: 0 0 20px 3px #4782ff;
    transition:transform 0.2s;

    &:hover {
      animation:none;
      transform:scale(1.2);
    }
  }

  .check-ok {
    display: none;
    position:absolute;
    width: 40px;
    height: 40px;
    left: 10px;
    top: 44px;
    background-image: url("img/sprites.png");
    background-size: 1100%;
    background-position: 80% 50%;
    @include shadow;
  }
  &[data-status="ok"] .check-ok {
    display:block;
  }
}


@keyframes borderBlink {
  0%   { border: 1px dashed white; }
  49%  { border: 1px dashed white; }
  50%  { border: 1px dashed black; }
  99% { border: 1px dashed black; }
  100% { border: 1px dashed white; }
}
